* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.fist {
    background-color: grey;
    height: 100vmax;
}

nav a.active {
    text-decoration: underline;
    color: red;
}